h1 {
border-bottom: double #FFC778;
/*線の種類（二重線）太さ 色*/
}

h2 {
border-bottom: double #FFC778;
/*線の種類（二重線）太さ 色*/
}

h3 {
border-bottom: double #FFC778;
/*線の種類（二重線）太さ 色*/
}

h4 {
border-bottom: double #FFC778;
/*線の種類（二重線）太さ 色*/
}

h5 {
border-bottom: double #FFC778;
/*線の種類（二重線）太さ 色*/
}

h6 {
border-bottom: double #FFC778;
/*線の種類（二重線）太さ 色*/
}